.section-how {
  padding: 4.8rem 0 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img img {
  width: 35%;
}

/* PSEUDO ELEMENTS */
.step-img::before,
.step-img::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

.step-img::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -2;
}
